name: Test
on:
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: ls -al
      - uses: actions/checkout@v3
      - run: ls -al
  deps:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Here we are"
